.video {
  position: relative;
  display: flex;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  padding: 0;
  border-top: 0.25rem solid var(--green-500);
}

.gradient {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(var(--transp) 30%, var(--gray-200) 100%);
  background-color: red;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .video {
    width: 100%;
    margin: unset;
  }
}
