.bottom {
  height: 40vh;
  width: 100%;
  background-color: var(--dark-green);
}

.socials {
  position: relative;
  width: 30%;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialButton {
  width: 2rem;
  padding: 1rem;
  background-color: var(--very-dark-green);
  trans
}

.socialButton:hover{
  background-color: var(--very-dark-green);
}
