.bottom {
  height: 40vh;
  width: 100%;
  background-color: var(--dark-green);
}

.socials {
  position: relative;
  width: 50%;
  margin: auto;
  left: 0;
  right: 0;
  background-color: white;
  margin-top: 2rem;
}

.socialButton {
}
