
.cardContainer{
  pos
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  left: 0;
  right: 0;
  top: 5rem;
  margin: auto;
}

.card{
  background-color: red;
  width: 30%;
}