
.cardContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-inline: 7rem;
  box-sizing: border-box;
  left: 0;
  right: 0;
  padding-top: 10rem;
  margin: auto;
}

.card:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  cursor: pointer;
  transform: translateY(0rem);
  background-color: red;
}

.cardImage{
  width: 80%;
  margin: 20%;
  object-fit: contain;
  filter: drop-shadow(10px 10px 0px var(--gray-transp-200));
  transform: rotateZ(3deg);
  transition: 0.2s;
}

.card:hover .cardImage{
  transform: rotateZ(-3deg);
}


.cardText{
  position: relative;
  padding: 1rem;
  top: -5rem;
  width: 65%;
  background-color: var(--light-transp);
  text-align: center;
  transition: 0.5s;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.cardTextTitle{
  font-size: var(--size3);
  font-weight: var(--bold);
  color: var(--green-600);
  margin-bottom: 0.5rem;
}

.cardTextContent{
  font-size: var(--size1);
}

.link{
  text-decoration: none;
  color: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}