
.cardContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  left: 0;
  right: 0;
  top: 5rem;
  margin: auto;
}

.card{
  border: 2px solid black;
  width: 30%;
}

.cardImage{
  border: 2px solid black;

}