
.cardContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  left: 0;
  right: 0;
  padding-top: 10rem;
  margin: auto;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  cursor: pointer;
  transform: translateY(0rem);
}

.card:hover .cardText{
  transform: translateY(-1rem);
}

.cardImage{
  width: 70%;
  object-fit: contain;
  filter: drop-shadow(10px 10px 0px var(--mid-dark-green));
  transform: rotateZ(5deg);

}

.cardText{
  position: relative;
  padding: 1rem;
  top: -5rem;
  width: 70%;
  height: 10rem;
  background-color: rgb(245, 245, 245);
  text-align: center;
  transition: 0.5s;
}

.cardTextTitle{
  font-size: var(--size3);
  font-weight: var(--bold);
  color: var(--mid-dark-green);
}

.cardTextContent{

}
