
.cardContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 99vw;
  box-sizing: content-box;
  left: 0;
  right: 0;
  padding-top: 10rem;
  margin: auto;
  border: red 2px solid;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  cursor: pointer;
  transform: translateY(0rem);
}

.card:hover .cardText{
  transform: translateY(-1rem);
}

.cardImage{
  width: 90%;
  object-fit: contain;
  filter: drop-shadow(10px 10px 0px var(--gray-transp));
  transform: rotateZ(0deg);

}

.cardText{
  position: relative;
  padding: 1rem;
  top: -5rem;
  width: 70%;
  background-color: var(--light);
  text-align: center;
  transition: 0.5s;
}

.cardTextTitle{
  font-size: var(--size3);
  font-weight: var(--bold);
  color: var(--green-600);
}

.cardTextContent{
  font-size: var(--size1);
}

.link{
  text-decoration: none;
  color: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}