
.cardContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  left: 0;
  right: 0;
  padding-top: 5rem;
  margin: auto;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  filter: brightness(1);
  cursor: pointer;
  transform: tr(0.9);
  transition: 0.s;
}

.card:hover{
  transform: scale(1);
}

.cardImage{
  width: 90%;
  object-fit: contain;
  filter: drop-shadow(10px 10px 0px var(--dark-green));

}

.cardText{
  position: relative;
  padding: 1rem;
  top: -5rem;
  width: 70%;
  height: 10rem;
  background-color: rgb(245, 245, 245);
  text-align: center;
}

.cardTextTitle{
  font-size: var(--size3);
  font-weight: var(--bold);
  color: var(--dark-green);
}

.cardTextContent{

}
