@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.openingInfo {
  position: absolute;
  background-color: var(--gray-100);
  border: 0.35rem outset var(--green-600);
  width: fit-content;
  padding: 1.5rem;
  margin: auto;
  text-align: center;
  z-index: 6;
  transition: 0.2s;
    color: var(--gray-300);
  font-size: var(--font-24);
  font-family: 'Indie Flower', cursive; !important

}

@media screen and (max-width: 480px) {
  .openingInfo {
    position: absolute;
    top: 100vh;
    background-color: var(--green-600);
    filter: drop-shadow(8px 8px 0px var(--gray-transp-200));
    width: 90%;
    padding: 2rem;
    box-sizing: border-box;
    left: 0;
    margin: auto;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 2;
    transform: rotateZ(-2deg);
  }

  .text {
    color: var(--light);
    font-weight: var(--regular);
  }
}
