.navbar {
    position: absolute;
    z-index: 1;
    width: 90vw;
    padding-inline: 5vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbarButtons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    
}

.navbarButton {
    padding: 1rem;
    background-color: rgb(240, 240, 240);
}

.logo{
    width: 200px;
    height: 100px;
    backgro
}