.navbar {
  position: absolute;
  z-index: 2;
  width: 86vw;
  padding-inline: 7vw;
  padding-top: 1vw;
  height: 12vh;
  background-color: var(--dark-green);
  color: var(--light);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0px 0px 2px black);
  overflow: visible;
}

.navbarButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  margin-left: auto;
  margin-right: 0;
}

.navbarTopButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
  margin-left: auto;
  margin-right: 0;
}

.navbarButton {
  padding: 0.5rem;
  font-weight: var(--bold);
  cursor: pointer;
}

.navbarButtonDropdown {
  visibility: hidden;
  z-index: 3;
  position: absolute;
  margin-left: -25px;
  padding-inline: 1.5rem;
  padding-block: .5rem;
  background-color: var(--dark-green);;
  cursor: pointer;
  line-height: 2rem;
  filter: opacity(0);
  transition: 0.15s;
}

.navbarButton:hover ~ .navbarButtonDropdown {
  visibility: visible;
  filter: opacity(1);
}

.navbarButtonDropdown:hover {
  visibility: visible;
  filter: opacity(1);
}

.navbarButtonDropdownItem {
}

.navbarButtonDropdownItem:hover {
  color: var(--light-green);
}

.navbarTopButton {
  height: fit-content;
  padding: 0.5rem;
  font-weight: var(--regular);
  cursor: pointer;
}

.logo {
  height: 10%;
  object-fit: contain;
  align-self: center;
  background-color: red;
}
