.openingInfo{
  position: absolute;
  top: 100vh;
  background-color: var(--green-600);
  filter: drop-shadow(8px 8px 0px var(--gray-transp-200));
  width: fit-content;
  padding: 2rem;
  left: 0;
  margin: auto;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 2;
  transform:  rotateZ(-2deg);
  transition: 0.2s;
}

.openingInfo:hover{
  background-color: var(--green-650);
}

.text{
  color: var(--light);
  font-size: var(--size3);
  font-weight: var(--regular);
}

@media screen and (max-width: 480px) {

  .openingInfo{
    position: absolute;
    top: 100vh;
    background-color: var(--green-600);
    filter: drop-shadow(8px 8px 0px var(--gray-transp-200));
    width: 90%;
    padding: 2rem;
    box-sizing: border-box;
    left: 0;
    margin: auto;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 2;
    transform:  rotateZ(-2deg);
  }
  
  .text{
    color: var(--light);
    font-size: var(--size2);
    font-weight: var(--regular);
  }

}