.openingInfo{
  position: absolute;
  top: 80vh;
  background-color: var(--light);
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
  width: fit-content;
  padding: 2rem;
  left: 0;
  margin: auto;
  right: 0;
  left: 0;
  text-align: center;
}

.text{
  color: var(--dark-green);
  font-size: var(--size2);
  font-weight: var(--bold);
}