.paralax {
    position: relative;
    z-index: 5;
    height: 100vh;
    overflow: hidden;
    border-bottom: 0.25rem ridge var(--green-500);
    border-top: 0.25rem solid var(--green-500);
  }
  
  .paralaxBackground {
    position: absolute;
    top: 0;
    width: 100%;
    filter: blur(4px);
  }
  
  .paralaxObject {
    position: absolute;
    bottom: -3rem;
    transition: 0.2s;
  }

  .paralaxObject:hover{
    filter: brightness(1.1);
    cursor: pointer;
  }