.section {
  height: max-content;
  min-height: 100vh;
  background: url("../assets/images/paw.png");
  background-size: 300px;
}

.headerImage {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  left: 0;
  right: 0;
  height: 50vh;
  object-fit: cover;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  z-index: 1;
  background: linear-gradient(var(--transp) 5% ,var(--gray-150) 100% );
}

.headerImageWrapper {
  position: relative;
  width: 90%;
  margin-block: 3rem;
  margin-inline: auto;
  align-items: center;
  z-index: 3;

}

.imageTitle {
  position: absolute;
  z-index: 2;
  top: 0px;
  font-size: var(--size7);
  font-weight: var(--bold);
  color: var(--light);
  filter: drop-shadow(2px 2px 0px var(--dark));
  text-transform: uppercase;
  width: fit-content;
  height: min-content;
  margin: auto;
  left: 7rem;
  top: 60%;
  bottom: 0;
}

.textContainer {
  position: relative;
  background-color: var(--gray-150);
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  min-height: 100vh;
  margin-top: -5rem;
  margin-bottom: 10rem;
  padding-inline: 9rem;
  padding-block: 5rem;
  padding-right: 35%;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.title {
  font-size: var(--size4);
  color: var(--green-600);
  margin-bottom: 2rem;
}

.text {
  font-size: var(--size1);
  color: var(--light);

  margin-bottom: 1.5rem;
}
