
  .section{
    height: max-content;
    min-height: 100vh;
    background: url("../assets/images/paw.png");
    background-size: 300px;
  }

  .headerImage{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .headerImageWrapper{
    z-index: 4;
  }

  .title{
    position: absolute;
    z-index: 2;
    top: 0px;
  }