
  .section{
    height: max-content;
    min-height: 100vh;
    background: url("../assets/images/paw.png");
    background-size: 300px;
  }

  .headerImage{
    height: 60vh;
    object-fit: cover;
    object-position: righ top;
  }