.section {
  height: max-content;
  min-height: 100vh;
  background: url("../assets/images/paw.png");
  background-size: 300px;
}

.headerImage {
  position: relative;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  height: 50vh;
  object-fit: cover;

}

.headerImageWrapper {
  position: relative;
  width: 90%;
  margin-top: 2rem;
  margin-inline: auto;
  align-items: center;
  filter: drop-shadow(6px 6px 0px var(--gray-transp-300));
  transform: rotateZ(5deg);
}

.imageTitle {
  position: absolute;
  z-index: 2;
  top: 0px;
  font-size: var(--size7);
  font-weight: var(--bold);
  color: var(--light);
  filter: drop-shadow(2px 2px 0px var(--dark));
  text-transform: uppercase;
  width: fit-content;
  height: min-content;
  margin: auto;
  left: 7rem;
  top: 60%;
  bottom: 0;
}

.textContainer {
  background-color: var(--gray-400);
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  min-height: 100vh;
  margin-bottom: 10rem;
  margin-top: 3rem;
  padding-inline: 9rem;
  padding-block: 5rem;
  padding-right: 35%;
}

.title {
  font-size: var(--size4);
  color: var(--green-400);
  margin-bottom: 2rem;
}

.text {
  font-size: var(--size1);
  color: var(--gray-100);
  margin-bottom: 1rem;
}
